@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body{
  background-image: url(https://res.cloudinary.com/dbrqv6ypj/image/upload/v1668713007/Sibarita-img/druphfafk9gy8hkfbsdh.jpg);
background-repeat:round;
background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  background: #3586ff;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  align-items: center;
}

.social-icon__item,
.menu__item {
  list-style: none;
  padding: 2px;
}

.menu__link {
  color: #fff;
  transition: 1s;
  text-decoration: none;
}

.footer p {
  color: #fff;
}

.App {
  text-align: center;
}

.spinner{
   display: flex;
   justify-content: center;
   margin-top: 40vh;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 14px;
    outline: 0;
}

#card {
  font-family: "Segoe UI";
   margin: 12vh auto;
   border-radius: 10px;
   overflow: hidden;
   width: 550px;
   padding: 20px 25px;
   box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.14);
   background-color: lightgray;
}

#card .nameHolder h1 {
   font-size: 50px;
   margin: 0;
}

#card .nameHolder h2 {
   margin: 0;
   font-size: 15px;
   color: white;

}

#card .info {
   display: flex;
   justify-content: space-between;
   padding: 20px 25px;
   font-weight: lighter;
   font-size: 20px;
}

#card .followers {
   background-color: #f8f9f9;
   margin: 0px -25px;
   display: flex;
   justify-content: space-around;
   padding: 13px;
   text-align: center;
   color: #6e6e6e;
   border-top: 1px solid #eaeaea;
   border-radius: 15px;
}

#card .followers h2 {
   margin: 0;
   font-size: 17px;
}

