.App {
  text-align: center;
}

.spinner{
   display: flex;
   justify-content: center;
   margin-top: 40vh;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 14px;
    outline: 0;
}

#card {
  font-family: "Segoe UI";
   margin: 12vh auto;
   border-radius: 10px;
   overflow: hidden;
   width: 550px;
   padding: 20px 25px;
   box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.14)
}

#card .nameHolder h1 {
   font-size: 30px;
   margin: 0;
}

#card .nameHolder h2 {
   margin: 0;
   font-size: 15px;
   color: grey;
}

#card .info {
   display: flex;
   justify-content: space-between;
   padding: 20px 25px;
   font-weight: lighter;
   color: #3b3a3a;
   font-size: 20px;
}

#card .followers {
   background-color: #f8f9f9;
   margin: 0px -25px;
   display: flex;
   justify-content: space-around;
   padding: 13px;
   text-align: center;
   color: #6e6e6e;
   border-top: 1px solid #eaeaea;
}

#card .followers h2 {
   margin: 0;
   font-size: 17px;
}

